<!doctype html>
<html lang="en">
  <head>
   
    <title>ABOUT US!</title>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">GOEDUHUB!</h4>
  
  
</div>
    </head>
        
  <body>
    <form action='/update/{{up.sno}}' method='POST'>   
	 <label for="title">TTILE:</label><br>
     <input type="text" id="fname" name="title" value="{{up.title}}"><br>
     <label for="content">CONTENT:</label><br>
     <input type="text" id="lname" name="content" value="{{up.content}}">
	 <input type="submit" value="Submit">
	</form>	
	
    
    </body>
</html>